<!DOCTYPE html>
<html>
  <head>
    <title>Nomster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Nomster', root_path, class: 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= new_place_path %>">New Place <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <ul class="navbar-nav .justify-content-end">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'My Profile', user_path(current_user), class: 'nav-link' %>
            </li>
            <li class='nav-item'>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class='nav-item'>
              <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="divider-vertical"></li>
            <li class='nav-item'>
              <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <div class="container">
      <div class="booyah-box col-10 offset-1">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
